matchserver/target
target/
notes
tooling/.dub
tooling/mousepos/*.exe
tooling/mousepos/*.pdb
scratchpad
*.pdb
*.exe
*.obj
*.ilk
web/target/*
vscode/*
carnival-web/sqlite.db
carnival-web/sqlite.db-shm
carnival-web/sqlite.db-wal
carnival-web/test.html
carnival-web/db-carnival*
